<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'a.css'%}">
</head>
<body>
    <center>
        <form>
            <br>
        <h1 style="font-size: 50px;">WELCOME TO LIBRARY MANAGEMENT</h1>
        <h2><a href="view">VIEW BOOK DETAILS</a></h2>
        <h2><a href="view_student_record">VIEW STUDENT DETAILS</a><br></h2>

        <h2><a href="check_book_availability">CHECK BOOK AVAILABILITY</a><br></h2>
        <h2><a href="add_book">ADD BOOK DETAILS</a><br></h2>
        <h2><a href="issue_book">ISSUE BOOK TO STUDENT</a><br></h2>
        <h2> <a href="return_book">BOOK RETURN TO LIBRARY</a><br></h2>
        
        <h2> <a href="fine">PAY FINE </a><br></h2>
        <br>
    </form>
    <br><button><a href="logout">logout</a></button>
        
        <!-- <button class="button"><a class="a1" href="/"> Logout </a></button> -->
       
    </center>
    
</body>
</html>