
form{
    background-color: black;
    color: aqua;
}
h1{
    background-color: black;
    color:magenta;
}
h2{
    background-color: black;
    color: blue;
}
a{
    color: blue;
}
.a1{
    background-color: white;
    color: brown;
}
body{
    background-color: black;
}